extends base

block content 
    //- p=`Total cars = ${length}`
    main.main  
        .card-container
            
            each car in cars
                .card 
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`${imageURL}${car.name}-cover.jpg`, alt=`${car.name}`)
                        h3.heading-tertirary
                            span= car.name

                    .card__details
                        h4.card__sub-heading= `${car.brand} `
                        - if (title === "New Cars")
                            .card__data
                                svg.card__icon
                                    use(xlink:href='/img/icons.svg#icon-user')
                                span= car.seatingCapacity 
                            .card__data
                                //- svg.card__icon
                                <i class="fa fa-car" style="font-size:20px;margin-right:4px;color:#55c57a"></i>
                                span= car.bodyType 
                            .card__data
                                svg.card__icon
                                    use(xlink:href='/img/icons.svg#icon-flag')
                                span= `${car.mileage} kmpl`
                            .card__data
                                <i class="fa fa-star" style="font-size:24px;margin-right:4px;color:#55c57a"></i>
                                span= `${car.engine} cc`
                            .card__data
                                <i class="fa fa-gear" style="font-size:24px;margin-right:4px;color:#55c57a"></i>
                                span= car.transmission 
                            .card__data
                                <i class="fa fa-assistive-listening-systems" style="font-size:20px;margin-right:4px;margin-right:4px;color:#55c57a"></i>
                                span= car.fuelType 

                        - if (title === "Used Cars")
                            .card__data
                                <i class="fa fa-dashboard" style="font-size:20px;margin-right: 4px"></i>
                                span= `${car.travel} kms`
                            .card__data
                                    <i class="fa fa-car" style="font-size:20px;margin-right: 4px"></i>
                                    span= car.bodyType 
                            .card__data
                                <i class="fa fa-dot-circle-o" style="font-size:20px;margin-right:4px"></i>
                                span= `${car.mileage} kmpl`
                            .card__data
                                <i class="fa fa-assistive-listening-systems" style="font-size:20px"></i>
                                span= car.fuelType
                            .card__data
                                <i class="fa-light fa-user"></i>
                                <i class="fa-solid fa-location-dot" style="font-size:20px"></i>  
                                span= car.city
                            .card__data
                                <i class="fa-solid fa-wallet" style="font-size:20px"></i> 
                                span= car.emi

                    .card__footer
                        p   
                            <i class="fa-solid fa-indian-rupee-sign"></i>
                            span.card__footer-value= ` ${car.price} Lakh`
                            span.card__footer-text 
                        p.card__ratings
                            - if (title === "New Cars")
                                span.card__footer-value= `Rating: ${car.rating} / 5`
                                span.card__footer-text
                        - let resource = title === "New Cars" ? "newCars" : "usedCars"
                            a.btn.btn--green.btn--small(href=`/${resource}/${car.name}`) Details 

    //- =================       Pagination     =================
    //- paginateURL : coming from newCarsController
    - if (!aliasRoues)
        .search__cars
            - for (var i = 1; i <= `${paginationBtnCount}`; i++)  
                a.btn.btn--small(class=`pagination__${i === paginationActiveBtn ? 'active' : 'inactive' }` href=`${paginateURL}page=${i}`)= `${i}`                      




